body {
    background-image: url('background-image.png');
    font: 1em/1.3 Arial, Helvetica, sans-serif;
}

* {
    color: white;
}

h1 {
    font-size: 40px;
}

p {
    color: white;
}

#headerTitulo {
    color: white;
}

#fotoDePerfil {
    width: 150px;
    height: auto;
    
}

.table {
    background-color: red;
}

.form {
    background-color: red;
}

a {
    color: lightgreen;
}

em.especial {
    background: blueviolet;
    border: 1px solid red;
    padding: 1px;
}